<?xml version="1.0" encoding="utf-8"?>
<opml version="1.0">
    <head>
        <title>Daily Readings</title>
    </head>
    <body>
        <outline title="Austin Kleon" xmlUrl="https://austinkleon.com/feed" type="rss" text="Austin Kleon"/>
    </body>
</opml>
